<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container">
    <div class="page-header mb-5">
        <h2>Add Service</h2>
    </div>

    <%= render 'form', service: @service, affiliate: current_affiliate %>
</div>
