<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registry_type.name %>
</p>

<%= link_to 'Edit', edit_registry_type_path(@registry_type) %> |
<%= link_to 'Back', registry_types_path %>
