<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <p>Having a Baby</p>
        </div>
        <div class="col-lg-6">
            <p>Give a Gift</p>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>It takes a village</p>
            <p>Be Her Village is an online platform connecting birthing 
            women and the services they need to have a supported, 
            dignified transition into parenthood. </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <p>Easy Registry</p>
            <p>Everything new parents need is in one convenient place</p>
        </div>

        <div class="col-lg-4">
            <p>Local Shops</p>
            <p>Find new local vendors in your area</p>
        </div>

        <div class="col-lg-4">
            <p>Education</p>
            <p>Learn all you need about what items you need on your registry</p>
        </div>
    </div>
</div>