<div class="container">
    <div class="page-header text-center mt-5">
        <h1 class="font-weight-bold primary-header">500 ERROR</h1>
        <h1 class="font-weight-bold primary-header">We messed up!</h1>
    </div>
    
    <div class="container text-center">
            <%= image_tag("error.jpg", width: 400, class:"my-5") %>
            <h3>We're working on fixing it.<br>Please shoot us an <%= mail_to("support@behervillage.com", "email", class:"secondary-link") %> or try again in a few minutes. </h3>
    </div>
    
</div>

