/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
// Main colors 
$pink-dark: #FF4A92;
$pink-light: #FF89D5;
$dark-gray: #606161;
$light-gray: #D8D8D8;

$link-hover-color: $pink-dark; 


$theme-colors: (
  "primary": $pink-dark,
  "secondary": $light-gray
);

// $font-family-base: 'Montserrat', sans-serif !default;
$font-family-sans-serif: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Montserrat, Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Montserrat, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

@import "bootstrap";
@import "bootstrap-datepicker";
@import "font-awesome";
@import "social-share-button";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');


// Secondary colors 
$plan-light: plan-light #F7B2C7;
$plan-middle: plan-middle #FF84B5; 
$plan-dark: plan-dark #FF4894;

$plans: $plan-light $plan-middle $plan-dark; 

// General Styling 

body {
    background-color: #F5F5F5;
}
body,
h1, h2, h3, h4, h5, h6,
p, li,
.h1, .h2, .h3, .h4, .h5, .h6,
.tooltip,
.popover {
    font-family: 'Montserrat', sans-serif !important;
}

a {
    background-color: inherit !important;
}

.btn-sm {
    padding: 0.25rem 3.0rem;
}

@media (min-width: 1200px) {
    .container {
      width: 1000px;
    }
  }

//Page header 
.page-header h2{
    font-size: 1.5em;
    font-weight: 600; 
}

.page-header p{
    font-size: 1.25em; 
    line-height: 1.25em;
}

.field_with_errors{
    background-color: #f8d7da; 
    border-radius: .25rem; 
}

// Footer Styling 
footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-header {
    font-size: 0.80em;
    font-weight: bold;
    margin-bottom: 0;
}

// Navbar Styling 
.navbar-default {
    background-color: $light-gray;
    padding: 0; 
}

.navbar-brand img {
    height: 2.3em;
}

.navbar-brand {
    height: 2.8em;
}
.nav-link {
    font-weight: bold;
    font-size: 0.7em;
}
  
// Affiliate Plan Page Styling 
.card-header h4{
    color: white; 
    font-size: 1em; 
}

.card-deck {
    width: 80%; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}

.card{
    background: #F7F7F8; 
}

@each $plan in $plans {
    .card-header.#{nth($plan, 1)} {
        background-color: nth($plan, 2);
    }

    .pricing-card-title.#{nth($plan, 1)} {
        color: nth($plan, 2);
        line-height: .75em;
    }

    .btn-outline.#{nth($plan, 1)} {
        border: 2px solid nth($plan, 2);    
        width: 60%; 
    }
    
    .btn-outline.#{nth($plan, 1)}:hover {
        background-color: nth($plan, 2);    
    }
}

// Input placeholder  

::-webkit-input-placeholder {
    font-size: 0.8em!important;
 }
