// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application.scss';

.card.card-body.card-faq{
  background-color: #F5F5F5;
  border: none;
}

a.btn.btn-lg.btn-faq:hover,
a.btn.btn-lg.btn-faq[aria-expanded="true"]{
  color: $pink-dark;
}

a.btn.btn-lg.btn-faq.btn-icon[aria-expanded="true"]{
  transition: all .3s;
  transform: rotate(90deg);
}

a.btn.btn-lg.btn-faq.btn-icon[aria-expanded="false"]{
  transition: all .3s;
  transform: rotate(0deg);
}