<div class="container">
    <div class="border-top my-3 border-dark"></div>
    <div class="row">
        <div class="col">
            <h4 class="footer-header">Be Her Village, Inc.</h4>
            <p><span>62 West Chestnut St</span> Farmingdale, NY 11735</p>
        </div>
        <div class="col">
            <h4 class="footer-header">Questions</h4>
            <ul>
                <li>Contact Us</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div class="col">
            <h4 class="footer-header">More Info</h4>
            <ul>
                <li>About Us</li>
                <li>Blog</li>
                <li>In the News</li>
            </ul>
        </div>
        <div class="col">
            <h4 class="footer-header">Registry</h4>
            <ul>
                <li>Affiliate Login/Sign Up</li>
                <li>Make a Registry</li>
                <li>Advertise with Us</li>
            </ul>
        </div>
        <div class="col">
            <p>Sign up box</p>
        </div>
    </div>
</div>

